.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

@media(max-width: 1200px){
  .wrapper{
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
  }
}

